/* Intro component styles */
.black-layer {
  background-color: #0a01004e;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.intro-container {
  text-align: center;
  animation: fade-in 2s ease-out;
  padding: 10px;
}

#question-text {
  margin-bottom: 20px;
}

/* Hidden by default */
.hidden {
  display: none;
}

/* Buttons styling */
.button {
  width: 100%;
  padding: 15px;
  margin: 10px 0px;
  font-size: 18px;
  color: white;
  background: #ff6f61;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-align: start;
}

.button:hover {
  background: #ff8b7f;
}

.button.disabled,
.button:disabled {
  filter: grayscale(100%);
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.button.disabled:hover,
.button:disabled:hover {
  background: #ff6f61;
  transform: none;
}

/* Fade-in animation */
.fade-in {
  display: block;
  opacity: 0;
  animation: fade-in 2s forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

#asriel {
  background: url(/assets/img/asriel-face.png);
  background-size: cover;
  height: 120px;
  font-size: 44px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  border: 2px solid #795b11;
  background-color: #00000091;
}

#auryn {
  background: url(/assets/img/auryn-face.png);
  background-size: cover;
  height: 120px;
  font-size: 44px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  border: 2px solid #795b11;
  background-color: #00000091;
}

#ravel {
  background: url(/assets/img/Ravel-face.png);
  background-size: cover;
  height: 120px;
  font-size: 44px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  border: 2px solid #795b11;
  background-color: #00000091;
}

#ruben {
  background: url(/assets/img/Ruben-face.png);
  background-size: cover;
  height: 120px;
  font-size: 44px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  border: 2px solid #795b11;
  background-color: #00000091;
}

#diary {
  background: url(/assets/img/time_dragon-face.png);
  background-size: cover;
  height: 120px;
  font-size: 44px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  border: 2px solid #795b11;
  background-color: #00000091;
}

/* Dialog PIN */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dialog {
  background: #1e3c72;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 300px;
  position: relative;
}

.dialog h2 {
  margin-bottom: 20px;
  color: black;
}

.pin-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pin-input {
  width: 20%;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-family: 'Arial', sans-serif;
  background: black;
  color: white;
}

.pin-input[type="password"] {
  font-family: 'Arial', sans-serif;
}

.pin-input:focus {
  border-color: #007bff;
}

.dialog button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  background: darkolivegreen;
}

.dialog button.cancel {
  background: rgb(149, 52, 52);
  margin-top: 8px;
}
