// Gli stili per header, back e diary-button sono definiti in style.css globale
// Non sovrascriviamo per mantenere l'aspetto originale con pergamena

.auryn-button {
  background: url('../../../assets/img/auryn-face.png') !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position-x: right !important;
  background-color: #00000091 !important;
  border: 2px solid #795b11 !important;
  height: 120px !important;
  font-size: 44px !important;
  opacity: 0.6;
  cursor: not-allowed !important;
  color: white !important;
}

.ravel-button {
  background: url('../../../assets/img/Ravel-face.png') !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position-x: right !important;
  background-color: #00000091 !important;
  border: 2px solid #795b11 !important;
  height: 120px !important;
  font-size: 44px !important;
  opacity: 0.6;
  cursor: not-allowed !important;
  color: white !important;
}